body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}

.card-header {
 color: #d0b786;
 font-weight: bold;
}

:root {
  scroll-behavior: smooth;

  --offcanvas-width: 300px;
  --topNavbarHeight: 60px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232b35;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1d242c;
}

input.search::placeholder {
  color: white !important;
}

label::after {
  background: none !important;
}

.form-floating > .form-control.inputs:focus ~ label {
  color: #fff !important;
}

.form-floating > .form-control.inputs:not(:placeholder-shown) ~ label {
  color: #fff !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(33, 37, 41) inset;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  background: #8bc53e;
  border-bottom: 4px solid #8bc53e;
}

.file-upload-btn:hover {
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
  background: #8bc53e;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 10px;
  position: relative;
  border: 3px dashed #01bbcc;
  transition: 0.5s;
}

.image-dropping,
.image-upload-wrap:hover {
  border: 3px dashed #ffffff;
  background-color: #01bbcc;
  transition: 0.5s;
}

.image-upload-wrap:hover h3 {
  color: #fff;
  transition: 0.5s;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.image-title {
  word-break: break-all;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: bolder;
  padding: 60px 0;
  color: #01bbcc;
}

.file-upload-image {
  max-height: 800px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.3));
  filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.3));
}

.remove-image {
  width: 70%;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload1 {
  background-color: none;
  width: 100%;
  margin: 0 auto;
}

.file-upload-btn1 {
  width: 100%;
  margin: 0;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  background: #8bc53e;
  border-bottom: 4px solid #8bc53e;
}

.file-upload-btn1:hover {
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
  background: #8bc53e;
}

.file-upload-btn1:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content1 {
  display: none;
  text-align: center;
}

.file-upload-input1 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  display: none;
}

.image-upload-wrap1 {
  margin-top: 10px;
  position: relative;
  border: 3px dashed #01bbcc;
  transition: 0.5s;
  display: none;
}

.image-dropping1,
.image-upload-wrap1:hover {
  border: 3px dashed #ffffff;
  background-color: #01bbcc;
  transition: 0.5s;
}

.image-upload-wrap1:hover h3 {
  color: #fff;
  transition: 0.5s;
}

.image-title-wrap1 {
  padding: 0 15px 15px 15px;
  color: #222;
}

.image-title1 {
  word-break: break-all;
}

.drag-text1 {
  text-align: center;
}

.drag-text1 h3 {
  font-weight: bolder;
  padding: 60px 0;
  color: #01bbcc;
}

.file-upload-image1 {
  max-height: 800px;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.3));
  filter: drop-shadow(2px 2px 2px rgba(34, 34, 34, 0.3));
}

.remove-image1 {
  width: 70%;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  font-weight: 700;
}

.remove-image1:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image1:active {
  border: 0;
  transition: all 0.2s ease;
}

@media screen and (max-width: 452px) {
  .file-upload-image {
    max-height: 100%;
    max-width: 100%;
  }
  .file-upload-image1 {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .form-floating.projects_form > label {
    font-size: 11px;
  }
  .form-floating.projects_form > .form-control {
    font-size: 14px;
  }
}

@media screen and (max-width: 325px) {
  .form-floating.projects_form > label {
    font-size: 9px;
  }
  .form-floating.projects_form > .form-control {
    font-size: 12px;
  }
}
